/* .card{
    width: 100%;
    margin-top: 3px;
    margin-bottom : 3px;

}
.container{
    margin-top: 10px;
    
}
.row{
    display: flex;
    justify-content : center;
}

.notification{
    display: block;
    margin-top: 12px;
}

.row3BgColor{
    margin-top: 0;
    background-color: khaki;
    padding: 10px;
} */