/* .card{
    width: 100%;
    margin-top: 3px;
    margin-bottom : 3px;

}
.card-title{
    text-align: left;
} */
.recentJobsCard{
    width: 100%;
    height: 500px;
    margin-top: 3px;
    margin-bottom : 3px;
    border-radius: 2%;
}