.quotationContainer {
  height: 100%;
  width: 100%;
  margin-top: 2%;
}

.elapseContainer {
  border-radius: 2%;
  margin-top: 2%;
  display: flex;
  padding-top: 15px;
}
.quotation {
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.quotationTableHeads {
  text-align: center;
}

.headers {
  background-color: lightblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.quotationCard {
  height: auto;
  border-radius: 5;
  margin-top: 3%;
}
.quotationTableButton {
  margin-top: 1%;
  margin-right: 1%;
  position: absolute;
  top: 0;
  right: 0;
}
.grandTotal {
  background-color: black;
  color: white;
  pointer-events: none;
}
.btnSendOffer{
  margin: 2%;  
}
.btnPrinter{
  margin: 2%;
}
.changeMarkup{
  white-space: nowrap;
}
.inputField{
  display: inline-block;
}